.shortcode__wine-grid {
  margin-top: spacing(8);
}

.wine-grid__inner {
  max-width: $website-width;
  margin: 0 auto;
}
.wine-grid__row {
  @include flex-setup(grid);
}

.wine-grid__title-container {
  @include flex-child(grid, $wd: 100);
}

.wine-grid__title {
  @include font(h1, $mt: 8, $mb: 7);
  text-align: center;
}

// PAGIATION
.wine-grid__pagination {
  @include flex-child(grid, $wd: 100);
  // @include pad($v: 2);
  margin-top: spacing(7);

  .pagination__inner {
    // @include pad($v: 4);
    border-top: 1px solid $black-10;
  }

  .pagination__element  {
    @include font(p);
    @include pad($h: 4);
    @include pad($v: 4);
    display: inline-block;
    color: $black-50;
    border-top: spacing(1) solid transparent;

    &--current {
      border-top-color: main-colors(main, accent);
    }

    &--current,
    &:hover {
      color: $black;
    }
  }
}



/****
 * ITEM
 */
.wg-item {
  @include max-width(sm);
  @include flex-child(grid, $wd: 50);
  margin-bottom: spacing(7);
}

.wg-item--col-3 {

  @include breakpoint-min(md) {
    @include flex-child($wd: 33.3333);
  }
}
.wg-item--col-4 {
  @include breakpoint-min(sm) {
    @include flex-child($wd: 25);
  }
}
.wg-item--col-5 {

  @include breakpoint-min(sm) {
    @include flex-child($wd: 33.333);
  }
  @include breakpoint-min(md) {
    @include flex-child($wd: 20);
  }
}

.wg-item--col-6 {

  @include breakpoint-min(sm) {
    @include flex-child($wd: 33.3333);
  }
  @include breakpoint-min(lg) {
    @include flex-child($wd: 16.6666);
  }
}

.wg-item--col-7 {

  @include breakpoint-min(sm) {
    @include flex-child($wd: 33.3333);
  }
  @include breakpoint-min(lg) {
    @include flex-child($wd: 14.285);
  }
}


.wg-item {

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }


  &__image {
    @include max-width(xxxs);
    order: -1;
  }

  &__surtitle {
    @include font(h4);
    margin-top: spacing(-5);

    @include breakpoint-min(lg) {
      margin-top: spacing(-6);
    }

    // text-transform: uppercase;

    a {

    }
  }

  &__subtitle {
    display: none;
  }

  &__title {
    @include font(p);
    text-transform: uppercase;
    max-width: max-width(xxs);
    margin: 0 auto;
  }
}
