.footer {
  background-color: main-colors(footer, bg);

  * {
    color: main-colors(footer, body);
  }

  strong {
    color: main-colors(footer, accent)
  }
}

.footer {
  @include layout-padding();
  @include pad($v: 7);


  &__inner {
    max-width: $website-width;
  }

  &__row {
    @include flex-setup(-6);
  }
}

.footer__column  {
  @include flex-child(6, $wd: 100);
  display: flex;
  flex-direction: column;
}

@include breakpoint-min(lg) {
  .footer__column--1-3 {

    @include flex-child(6, $wd: 33.333);
    max-width: 100%;
    margin-left: 0;
  }
}


.footer__widget-title {
  text-transform: uppercase;
  margin-bottom: 2;
}

.footer__widget {
  // margin-bottom: spacing(6);

  p {
    color: main-colors(footer, link);
    @include font(h5_light);
  }
}


.footer-bottom {

  &__inner {
    max-width: $website-width;
    margin: 0 auto;
  }

  p {

  }
}
