$header_bp: 'md';

.header {
  @include layout-padding();
  //box-shadow: $card-shadow--2;
  position: relative;
  z-index: 9;
  background-color: main-colors(header, bg);


  @include breakpoint-min(md) {
    background-color: main-colors(header, bg);
  }

  &__row {


  }

  &__inner {
    //  @include pad($v: 2);
    padding-top: spacing(2);
    padding-bottom: spacing(6);
    max-width: $website-width;
  }

  .header__nav {
    padding-bottom: spacing(2);

    * {
      color: main-colors(header, body);
    }

    a {
      color: main-colors(header, link);

      &:hover {
        color: main-colors(header, accent);
      }
    }
  }

  &--title-standard {
    .header__nav {
      // border-bottom: spacing(0.5) solid $tortora;
    }
  }
  &--title-hero {
    position: absolute;
    width: 100%;
    background-color: transparent;
    .top-area {
      background-color: transparent;
    }

    .mobile-nav__icon {
      fill: $white;
    }



    .logo {
      filter: grayscale(100%) brightness(500%);
    }

    .header__nav {
      * {
        color: $white-70;
      }
  
      .nav__inner > .menu-item > a {
        color: $white-70;
  
        &:hover {
          color: $white;
        }
      }

      .nav__inner > .menu-item {
        &.current-menu-item,
        &:hover {
          &> a {
            color: $white;
          }
        }
      }

      .sub-menu {
        background: $white;
        padding-top: 0;
      }
    }
  }
}


.site--title-hero,
.site--header-hero {
  .mobile-nav__inner {
    background-color: main-colors(hero, bg);
  }
}


/**************************************************************************************************
 * Logo
 *
 ****/

.logo {
  max-width: 250px;
}

.logo--mobile {
  max-width: 150px;
}

/**************************************************************************************************
 * NAvigation
 * See elements/header/nav.scss
 */
