$header_bp: 'md';

.header {
  @include layout-padding();
  box-shadow: $card-shadow--2;
  background-color: $black;
  position: relative;
  z-index: 9;
  background-color: main-colors(header, bg);


  @include breakpoint-min(md) {
    background-color: main-colors(header, bg);
  }


  &__row {


  }

  &__inner {
    @include pad($v: 2);
  }

  .header__nav {
    * {
      color: main-colors(header, body);
    }

    a {
      color: main-colors(header, link);

      &:hover {
        color: main-colors(header, accent);
      }
    }
  }
}


.logo {
  max-width: 250px;
}

.logo--mobile {
  max-width: 150px;

}

.header__inner {

}




.primary-nav {
  @include marg($v: 4);
  display: none;

  @include breakpoint-min(md) {
    display: block;
  }
}

.primary-nav__inner {
  @include marg($h: auto);

  text-align: center;
  max-width: $website-width;
  display: flex;
  justify-content: flex-end;

  &> .menu-item {
    @include font(h4);
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding: 0;
    margin-right: spacing(6);

    &:last-child {
      margin-right: 0;
    }

    a {
      line-height: inherit;
    }

    &:hover,
    &.current-menu-item {
      position: relative;
      border-color: $green;

      &::after {

      }

      a {
        color: main-colors(header, accent);

      }

      &>.sub-menu {
        top: spacing(6) * 1.00;
      }
    }
  }

  .sub-menu {
    @include pad($h: 2);

    li {
      text-align: left;

      &:last-child {
        border: 0;
      }
    }
  }
}
