/*
 * The Website container
 */
.site  {

}


/***********************************************************************************************
  *
  * HEADER
  *
  *********************************************************************************************/

.header {

}




/***********************************************************************************************
  *
  * MAIN
  *
  *********************************************************************************************/

.main {
  background-color: main-colors(main, bg);

  * {
    color: main-colors(main, body);
  }
}

.main__inner {
  max-width: $website-width;
}

.main__row {
  @include pad($v: 8);
}


/**
 * Main content width
 * Sets the sidebar / content ratio here
 */
.main__content {
  @include breakpoint-min(lg) {
    @include flex-child($wd: 65);

    &--full {
      @include flex-child($wd: 100);
    }
  }
}


/**
 * Main sidebar width
 * Sets the sidebar / content ratio here
 */
.main__sidebar {

  @include breakpoint-min(lg) {
    @include flex-child($wd: 35);
  }

  background-color: main-colors(sidebar, bg);

  * {
    color: main-colors(sidebar, body);
  }
}


/************************************************************************************************
  *
  *                                 FOOTER
  *
  **********************************************************************************************/
.footer {

}

.footer__inner {
  max-width: $website-width;
}

.footer__row {

}

.footer__column {

}
