/*
 * The Website container
 */
.site  {

}


/***********************************************************************************************
  *
  * HEADER
  *
  *********************************************************************************************/

.header {

}




/***********************************************************************************************
  *
  * MAIN
  *
  *********************************************************************************************/

.main {
  @include layout-padding();

  background-color: main-colors(main, bg);

  * {
    color: main-colors(main, body);
    border-color: main-colors(main, border);
  }
}

.main__inner {
  max-width: $website-width;
}

.main__row {
  @include flex-setup(grid)
  @include pad($v: 8);
}


.main__content,
.main__sidebar {
  @include flex-child(grid, $wd: 100);
}

/**
 * Main content width
 * Sets the sidebar / content ratio here
 */
.main__content {
  @include breakpoint-min(lg) {
    @include flex-child($wd: 65);

    &--full {
      @include flex-child($wd: 100);
    }
  }
}


/**
 * Main sidebar width
 * Sets the sidebar / content ratio here
 */
.main__sidebar {

  @include breakpoint-min(lg) {
    @include flex-child($wd: 35);
  }

  background-color: main-colors(sidebar, bg);

  * {
    color: main-colors(sidebar, body);
  }
}
