/*
 * Padding of menu, submenu and submenu li elements
 */
.nav__inner,
.sub-menu,
.nav__inner .sub-menu li {
  margin: 0px;
  padding: 0px;
}

.nav__inner > li {
  display: inline-block;
  cursor: pointer;
  list-style: none;
  padding: 0px $line-height / 2 0px $line-height / 2;
  border: 0;
  position: relative;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

/*.nav__inner li ul.first {
  left: -1px;
  top: 100%;
}*/

.nav__inner .sub-menu li {
  width: 100%;
  text-indent: $line-height / 2;
  line-height: $line-height;
  list-style: none;
  margin-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: none;
  border-right: none;
  background: #fff;
}

/*.nav__inner .sub-menu .sub-menu li {
  display: block;
}*/

.nav__inner li a {
  display: block;
  width: inherit;
  height: inherit;
}

.nav__inner ul.sub-menu {
  display: none;
}

.nav__inner li:hover > a,
.nav__inner li:hover {
//  color: #fff;
//  background: #000;
}

.nav__inner li:hover > .sub-menu {
  display: block;
  position: absolute;
  width: 200px;
  top: $line-height / 2;
  left: 0%;
  z-index: 1000;
  border: 0;
}

.nav__inner li:hover > .sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

.nav__inner li:hover {
  position: relative;
  z-index: 2000;
}
