.elementor-widget-wp-widget-nav_menu {
  .menu {
    @include marg($h: auto);
    margin-top: spacing(4);
    text-align: center;


    .menu-item {
      @include pad($h: 2);
      @include font(h4);
      display: inline-block;

      @include breakpoint-min(md) {
        @include pad($h: 4);
      }


      &:first-child {
        padding-left: 0
      }
      &:last-child {
        padding-right: 0;
        border-right: 0;
      }
    }
  }
}
