
/***
 * Utilities
 ***/
.elementor-align-center {
  text-align: center;
}
.elementor-align-right {
  text-align: right;
}
.elementor-align-left {
  text-align: left;
}
.elementor-align-justify {
  text-align: justify;
}

/**
 * Widget Widths
 */
.elementor-widget {
  // Basic max width
  max-width: max-width($text-mw);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.elementor-section-boxed .elementor-widget {
  margin-bottom: spacing(6);
  // @include marg($v: 4);

  @include breakpoint-min($col_bp) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.elementor-widget-video,
.elementor-widget-button {
  width: 100%;
}

.elementor-widget-image {
  width: auto;
}

@include breakpoint-min(lg) {
  // Alternative max widths
  .widget--wide {
    max-width: max-width(sm);
  }
  .widget--wider {
    max-width: max-width(md);
  }
  .widget--full {
    max-width: 100%;
    min-width: 100%;
  }
}


/**********************************************************
 *
 * WIDGETS HORIZONTAL ALIGN
 */

@include breakpoint-min(lg) {

  // First column
  @at-root .elementor-row .elementor-column:first-child {
    .elementor-widget {
      margin-left: 0;
    }
  }

  // Last column
  @at-root .elementor-row .elementor-column:last-child {
    .elementor-widget {
      margin-right: 0;
    }
  }

  // Center column
  @at-root .elementor-row .elementor-column:first-child:last-child .elementor-widget {
    margin-left: auto;
    margin-right: auto;
  }

  ///
  // Nested Sections
  ///
  .elementor-inner-section .elementor-row .elementor-column:first-child .elementor-widget {
    margin-left: 0;
  }

  .elementor-inner-section .elementor-row .elementor-column:last-child .elementor-widget {
    margin-right: 0;
  }

  .elementor-inner-section .elementor-row .elementor-column:first-child:last-child .elementor-widget {
    margin-left: auto;
    margin-right: auto;
  }

  ///
  // Collapsed widgets
  ///
  .widget--right {
    margin-right: 0;
    margin-left: auto !important;
  }
  .widget--left {
    margin-left: 0;
    margin-right: auto !important;
  }
  .widget--center {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}


.widget--boxed {
  @include pad($v: 4);
  @include grid_pad();
}

.widget--border {
  border: 1px solid;
  border-color: inherit;
}
