.elementor-widget-wp-widget-nav_menu {
  .menu {
    margin-top: spacing(4);
    text-align: center;
    @include marg($h: auto);

    // @include flex-setup(0);

    .menu-item {

      display: inline-block;
      @include pad($h: 2);
      @include font(h4);
      border-right: 1px solid $grigio;

      @include breakpoint-min(md) {
        @include pad($h: 4);
      }


      &:first-child {
        padding-left: 0
      }
      &:last-child {
        padding-right: 0;
        border-right: 0;
      }
      // @include flex-child(2);
    }
  }
}
