.elementor-widget-wp-widget-nav_menu {

  .menu {
    @include marg($h: auto);
    white-space: nowrap;
    // margin-top: spacing(4);
    text-align: center;



    .menu-item {
      @include pad($h: 2);
      @include font(h4);
      display: inline-block;

      @include breakpoint-min(md) {
        @include pad($h: 4);
      }
    }
  }
}
