.elementor-widget {

  max-width: max-width($text-mw);
  @include breakpoint-max(md) {
    margin-left: auto;
    margin-right: auto;
  }


  @at-root .widget--wide {
    max-width: max-width(sm);
  }
  @at-root .widget--wider {
    max-width: max-width(md);
  }
  @at-root .widget--full {
    max-width: 100%;
  }

@include breakpoint-min(md) {
    /**
     * Lateral margin
     */
    @at-root {
      .elementor-row .elementor-column:first-child #{&} {
        margin-right: auto;
      }
      .elementor-row .elementor-column:last-child #{&} {
        margin-left: auto;
      }
    }

    /**
     * Nested Lateral Margin
     */
    @at-root {
      .elementor-inner-section .elementor-row .elementor-column:first-child #{&} {
        margin-right: auto;
        margin-left: 0;
      }
      .elementor-inner-section .elementor-row .elementor-column:last-child #{&} {
        margin-left: auto;
        margin-right: 0;
      }
      .elementor-inner-section .elementor-row .elementor-column.elementor-col-100 #{&} {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &.collapsed--right {
      margin-right: 0 !important;
      margin-left: auto;
    }
    &.collapsed--left {
      margin-left: 0 !important;
      margin-right: auto;
    }
  }
}

.elementor-text-editor {
  & > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &> h1 {
    @include font(h1, $mt: 6, $mb: 4);
  }

  &> h2 {
    @include font(h2, $mt: 6.5, $mb: 2);
  }

  &> h3 {
    @include font(h3, $mt: 5, $mb: 2);
  }

  &> h4 {
    @include font(h4, $mt: 5, $mb: 2);
  }

  &> p {
    @include font(p, $mt: 4, $mb: 0);
  }
}
