//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///
$white: #fff;
$white-90: rgba($white, 0.90);
$white-70: rgba($white, 0.70);
$white-60: rgba($white, 0.60);
$white-50: rgba($white, 0.50);
$white-40: rgba($white, 0.40);
$black: #000;
$black-90: rgba($black, 0.85);
$black-70: rgba($black, 0.7);
$black-50: rgba($black, 0.5);
$black-40: rgba($black, 0.4);
$black-30: rgba($black, 0.30);
$black-10: rgba($black, 0.10);
$black-05: rgba($black, 0.05);
$red: red;

$green: #5cb85c;
$yellow: #f0ad4e;
$red: #d9534f;


$main-colors: (
  topbar: (
    bg: $black,
    body: $white,
    link: $black-30,
    accent: $white,
    border: $white,
  ),
  header: (
    bg: $black,
    body: $white,
    link: $white,
    accent: $white,
    border: $white,
  ),
  hero: (
    bg: $black,
    body: $white,
    link: $white,
    accent: $white,
    border: $white,
    overlay: $black,
  ),
  main: (
    bg: $white,
    body: $black-70,
    link: $black-70,
    accent: $black-70,
    border: $black-05,
    overlay: $black,
    button-bg: $black,
    button-body: $white,
  ),
  sidebar: (
    bg: $white,
    body: $black-70,
    link: $black-70,
    accent: $black-70,
    border: $black-05,
  ),
  footer: (
    bg: $black,
    body: $white-70,
    link: $white-70,
    accent: $white,
    border: $black-05,
  ),
);

$palettes: (
  dark: (
    bg: $black,
    body: $white,
    accent: $white,
    border: $white-40,
    overlay: $black,
    button-bg: $white-90,
    button-body: $black,
  ),

  dark-alt: (
    bg: $black-70,
    body: $white,
    accent: $white,
    border: $white-40,
    overlay: $black-70,
    button-bg: $white-60,
    button-body: $black,
  ),
  light: (
    bg: $white,
    body: $black,
    accent: $black,
    border: $black-10,
    overlay: $white,
    button-bg: $black-70,
    button-body: $white,
  ),
);


$card-shadow--1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$card-shadow--2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$card-shadow--3: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
$card-shadow--hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
