//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///
$tortora: #8a7f7d;
$white: #fff;
$white-90: rgba($white, 0.90);
$white-80: rgba($white, 0.80);
$white-70: rgba($white, 0.70);
$white-60: rgba($white, 0.60);
$white-50: rgba($white, 0.50);
$white-40: rgba($white, 0.40);
$black_true: #000;
$black: darken($tortora, 15%);
$black-90: rgba($black_true, 0.85);
$black-70: rgba($black_true, 0.7);
$black-50: rgba($black_true, 0.5);
$black-40: rgba($black_true, 0.4);
$black-30: rgba($black_true, 0.30);
$black-20: rgba($black_true, 0.20);
$black-10: rgba($black_true, 0.10);
$black-05: rgba($black_true, 0.05);
$red: #ee1c25;
$green: #31b851;
$orange: #f7941d;
$fucsia: #e90286;
$red: #f0091d;
// $yellow: #f0091d;
$blue: #25aae1;
$grey: #887c79;
$teal: #2fb084;

$gradient: linear-gradient(90deg, rgba(54,180,73,1) 0%, rgba(37,170,225,1) 100%);
$gradient: linear-gradient(90deg, rgba($orange, 1) 0%, rgba($green, 1) 50%, rgba($blue, 1) 100%);
$gradient: linear-gradient(90deg, rgba($blue, 1) 0%, rgba($green, 1) 25%, rgba($red, 1) 50%, rgba($orange, 1) 75%, rgba($fucsia, 1) 100%);
$gradient: linear-gradient(120deg, rgba($green, 1) 0%, rgba($blue, 1) 33.3333%, rgba($fucsia, 1) 66.666666%, rgba($orange, 1) 100%);
// $gradient: linear-gradient(120deg, rgba($teal,1) 30%, rgba($green,1) 50%, rgba($blue, 1) 100%);
// $gradient: linear-gradient(90deg, rgba($teal, 1) 0%, rgba($green, 1) 100%);

// $gradient: linear-gradient(90deg, rgba($orange,1) 0%, rgba($green,1) 100%, rgba($blue, 1) 200%);

$main-colors: (
  topbar: (
    bg: $tortora,
    body: $white,
    link: $white,
    accent: $white,
    border: $white,
  ),
  header: (
    bg: $white,
    body: $grey,
    link: $grey,
    accent: $tortora,
    border: $white,
  ),
  hero: (
    bg: $gradient,
    body: $white,
    link: $white,
    accent: $white,
    border: $white,
    overlay: $black,
  ),
  main: (
    bg: $white,
    body: darken($tortora, 15%),
    heading: $tortora,
    link: $orange,
    accent: $orange,
    border: $black-20,
    overlay: $black,
    button-bg: $green,
    button-body: $white,
  ),
  sidebar: (
    bg: $white,
    body: $black-70,
    link: $black-70,
    accent: $black-70,
    border: $black-05,
  ),
  footer: (
    bg: $white,
    body: $black,
    link: $orange,
    accent: $white,
    border: $black-05,
  ),
);

$palettes: (
  main: (
    bg: main-colors(main, bg),
    body: main-colors(main, body),
    heading: main-colors(main, heading),
    accent: main-colors(main, accent),
    border: main-colors(main, border),
    overlay: main-colors(main, overlay),
    button-bg: main-colors(main, button-bg),
    button-body: main-colors(main, button-body),
  ),
  dark: (
    bg: $red,
    body: $white,
    heading: $white,
    accent: $white,
    border: $white,
    overlay: $black,
    button-bg: $white-90,
    button-body: $black,
  ),
  blue: (
    bg: $red,
    body: $white,
    heading: $white,
    accent: $white,
    border: $white,
    overlay: $black,
    button-bg: $blue,
    button-body: $white,
  ),
  light: (
    bg: lighten($black, 95),
    body: $black-90,
    heading: $black-90,
    accent: $black-90,
    border: $black-90,
    overlay: $white,
    button-bg: $black,
    button-body: $white,
  ),
);


$card-shadow--1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$card-shadow--2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$card-shadow--3: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
$card-shadow--hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
