//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER IL LAYOUT
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//*==========================================================================*//

$website-width: (1170 / $base) * 1rem;

//***********************************************************************//
//             BREAKPOINTS
//***********************************************************************//

$grid-breakpoints: (
  xs: 480px,
  sm: 30em,
  ms: 40em,
  md: 52.5em,
  el: 768px, // ELEMENTOR COLUMN DROP
  lg: 60em,
  xl: 85em,
  uxl: 125em,
);



//***********************************************************************//
//             WIDTHS
//***********************************************************************//

$max-widths: (
  xxxs: 10rem,
  xxs: 15em,
  narrow: 20em,
  measure: 25rem,
  xs: 20.83333rem,
  sm: 30.25rem,
  md: 42.66667rem,
  lg: 63rem,
);

$text-mw: 'measure';

//***********************************************************************//
//             SPACES
//***********************************************************************//
$space: 0.3125rem;

$spacing: (
  0: 0,
  1: $space, //xxa
  2: $space * 2, //xs
  3: $space * 3, //sm
  4: $space * 4, //md
  5: $space * 6, //lg
  5.5: $space * 7, //lg
  6: $space * 8, //xl * 8
  6.1: $space * 9, // * 9
  6.5: $space * 12, // * 12
  7: $space * 16, //xxl
  7.5: $space * 20,
  8: $space * 24,
  9: $space * 32,
);
