//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//


///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1rem; //TODO
  $line-height: 1.4375rem; //TODO


///
// p and other standard elements
///
  $margin-top: 1rem; //TODO
  $margin-bottom: 1rem; //TODO


///
// Families
///
$ff-primary: 'Lato', sans-serif;
$ff-secondary: 'Crimson Text', serif;
$ff-script: 'Comic Sans', cursive;
$ff-button: $ff-secondary;

$text-atts: (
  font-size: fs,
  line-height: lh,
  margin-top: mt,
  margin-bottom: mb,
  padding-top: pt,
  padding-bottom: pb,
  weight: wt,
);

$fonts: (
  h1: (
    fm: $ff-secondary,
    fs: 3.375rem,
    lh: 3.375rem,
    mt: 6.5,
    mb: 2,
    wt: 400,

    md: (
      fs: 4.25rem,
      lh: 4.3125rem,
    ),
  ),
  h2: (
    fm: $ff-secondary,
    fs: 2.25rem,
    lh: 2.875rem,
    mt: 6,
    mb: 2,
    wt: 400,

    lg: (
      fs: 2.625rem,
      lh: 2.875rem,
    ),
  ),
  h3: (
    fm: $ff-secondary,
    fs: 1.5rem,
    lh: 2.875rem / 2,
    mt: 5,
    mb: 2,
    wt: 400,

    lg: (
      fs: 1.625rem,
      lh: 2.875rem / 2,
    ),
  ),
  h4: (
    fm: $ff-secondary,
    fs: 1rem,
    lh: $line-height,
    mt: 4,
    mb: 0,
    wt: 700,
  ),
  h5: (
    fm: $ff-secondary,
    fs: 0.875rem,
    lh: $line-height,
    mt: 4,
    mb: 0,
    wt: 700,
  ),

  h5-alt: (
    fm: $ff-primary,
    fs: 0.875rem,
    lh: $line-height,
    mt: 4,
    mb: 0,
  ),

  p: (
    fm: $ff-primary,
    wt: 400,
    fs: $font-size,
    lh: $line-height,
    mb: 4,
  ),

  uppercase: (
    fm: $ff-primary,
    wt: 700,
    fs: $font-size,
    mb: 4,
    mt: 4,
    tt: uppercase,
  ),
);

$lists: (
  mt: 4,
  mb: 4,
  pl: 4,
);



////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO
