//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//


///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.25rem; //TODO
  $line-height: 1.25rem; //TODO


///
// p and other standard elements
///
  $margin-top: 1rem; //TODO
  $margin-bottom: 1rem; //TODO


///
// Families
///
$ff-primary: 'Times New Roman', serif;
$ff-secondary: 'Arial', sans-serif;
$ff-script: 'Comic Sans', cursive;
$ff-button: $ff-secondary;

$text-atts: (
  font-size: fs,
  line-height: lh,
  margin-top: mt,
  margin-bottom: mb,
  padding-top: pt,
  padding-bottom: pb,
);

$fonts: (

  h1: (
    fm: $ff-secondary,
    wt: 400,
    fs: 3rem,
    lh: 3.75rem,
    pt: 0.15625rem,
    pb: 0.15625rem,
    ls: 0.15rem,
  ),

  h2: (
    fm: $ff-secondary,
    wt: 400,
    fs: 2rem,
    lh: 2.25rem,
    pt: 0.15625rem,
    pb: 0.15625rem,
    mt: 4,
    mb: 1rem,
    ls: 0.1rem,
  ),

  h3: (
    fm: $ff-secondary,
    wt: 400,
    fs: 1.60rem,
    lh: 1.875rem,
    pt: 0.15625rem,
    pb: 0.15625rem,
    ls: 0.08rem,
  ),

  h4: (
    fm: $ff-primary,
    wt: 600,
    fs: 1.125rem,
    lh: 1.375rem,
    pt: 0.15625rem,
    pb: 0.15625rem,
    ls: 0.05rem,
  ),

  h5: (
    fm: $ff-primary,
    wt: 600,
    fs: 0.75rem,
    lh: 1.25rem,
    pt: 0.15625rem,
    pb: 0.15625rem,
    ls: 0,
  ),

  p: (
    fm: $ff-primary,
    wt: 300,
    fs: $font-size,
    lh: $line-height,
  ),
);

$lists: (
  mt: 4,
  mb: 4,
  pl: 4,
);



////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO
