//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER IL LAYOUT
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//*==========================================================================*//
$width: 1170px;
$website-width: em($width); //TODO


//***********************************************************************//
//             HEIGHTS
//***********************************************************************//
$spacing: (
  0: 0,
  1: 0.25rem, //xxs
  2: 0.5rem, //xs
  3: 0.75rem, //sm
  4: 1rem, //md
  5: 1.5rem, //lg
  6: 2rem, //xl
  7: 4rem, //xxl
  8: 6rem,
  9: 8rem,
);

//***********************************************************************//
//            BOOTSTRAP CONFIG
//***********************************************************************//




//***********************************************************************//
//             LARGHEZZA LAYOUT & BREAKPOINT MEDIA QUERIES
//***********************************************************************//
$grid-breakpoints: (
  xs: 480px,
  sm: 30em,
  ms: 40em,
  md: 52.5em,
  lg: 60em,
  xl: 85em,
  uxl: 125em,
);
