//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.125em; //TODO
  $line-height: 2em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 2em; //TODO


///
// Families
///
  $ff-primary: 'Fauna One', sans-serif; //TODO
  $ff-secondary: 'Playfair Display', serif; //TODO
  $ff-special: $ff-primary; //TODO
  $ff-button: $ff-primary;


///
// WEIGHTS per Families
///
$families: (
  primary: (
    fm: $ff-primary,
    thin: 400,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),

  secondary: (
    fm: $ff-secondary,
    thin: 400,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  special: (
    fm: $ff-special,
    thin: 400,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),
);

$decorations: (
  p: (
    fm: primary,
    wt: normal,
  ),

  h1: (
    fm: secondary,
    wt: normal,
  ),

  h1-alt: (
    fm: secondary,
    wt: normal,
  ),

  h2: (
    fm: secondary,
    wt: normal,
  ),

  h3: (
    fm: secondary,
    wt: normal,
  ),

  h4: (
    fm: secondary,
    wt: bold,
  ),

  h5: (
    fm: secondary,
    wt: normal,
  ),

  small: (
    fm: primary,
    wt: normal,
  ),
);
////
// Dimensioni & caratteristiche dei font principali
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 6.55555556em,
      lh: 1.220339em,
      mt: 0.30508475em,
      mb: 0.6101695em,
    ),

    h1-alt: (
      fs: 5em,
      lh: 1.2em,
      mt: 0.8em,
      mb: 0.8em,
    ),

    h2: (
      fs: 3.5em,
      lh: 1.14285714em,
      mt: 0.57142857em,
      mb: 0.57142857em,
    ),

    h3: (
      fs: 1.88888889em,
      lh: 1.05882353em,
      mt: 1.05882353em,
      mb: 1.05882353em,
    ),

    h4: (
      fs: 1em,
      lh: 2em,
      mt: 2em,
      mb: 2em,
    ),

    h5: (
      fs: 0.75em,
      lh: 2.666666666666667em,
      mt: 2.666666666666667em,
      mb: 0em,
    ),

    small: (
      fs: 0.75em,
      lh: 2.666666666666667em,
      mt: 2.666666666666667em,
      mb: 0em,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 2.38888889em,
    lh: 1.6744186em,
    mt: 0.8372093em,
    mb: 0.8372093em,
  ),

  h2: (
    fs: 1.77777778em,
    lh: 1.125em,
    mt: 1.125em,
    mb: 1.125em,
  ),

  h3: (
    fs: 1.33333333em,
    lh: 1.5em,
    mt: 1.5em,
    mb: 1.5em,
  ),
);

////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  label: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  desc: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),
);
