//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//


///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.5rem; //TODO
  $line-height: 1.38888889em; //TODO


///
// p and other standard elements
///
  $margin-top: 1rem; //TODO
  $margin-bottom: 1rem; //TODO


///
// Families
///
$ff-primary: 'Tiempos Text', serif;
$ff-condensed: 'Founders Condensed', sans-serif;
$ff-display: 'Tiempos Headline', serif;
$ff-sans: 'Founders Text', sans-serif;
$ff-script: 'Reporter', cursive;
$ff-button: $ff-condensed;

$text-atts: (
  font-size: fs,
  line-height: lh,
  margin-top: mt,
  margin-bottom: mb,
  padding-top: pt,
  padding-bottom: pb,
);

$fonts: (

  h1: (
    fm: $ff-primary,
    wt: 600,
    fs: 4.5rem,
    lh: 4.5rem,
    pt: 0.5rem,
    pb: 0.5rem,
  ),

  h2: (
    fm: $ff-primary,
    wt: 600,
    fs: 3rem,
    lh: 3.5rem,
    pt: 0.5rem,
    pb: 0.5rem,
  ),

  h3: (
    fm: $ff-primary,
    wt: 600,
    fs: 2rem,
    lh: 2.5rem,
    pt: 0.5rem,
    pb: 0.5rem,
  ),

  h4: (
    fm: $ff-primary,
    wt: 600,
    fs: 1.5em,
    lh: 2.0rem,
    pt: 0.5rem,
    pb: 0.5rem,
  ),

  p: (
    fm: $ff-sans,
    wt: 400,
    fs: 1.25rem,
    lh: 1.5rem,
    pt: 0.5rem,
    pb: 0.5rem,
  ),
);




////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO
