.elementor-section {
  background-color: main-colors(main, bg);

  &.elementor-inner-section {
    background-color: transparent;
  }

  * {
    color: main-colors(main, body);
    border-color: main-colors(main, border);
  }

  //TODO - hotfix bottoni
  span {
    color: inherit;
  }

  .elementor-text-editor > p > a {
    @include link();
    font-weight: bold;
  }

  .font--color-light {

  }
}


@each $palette, $color in $palettes {
  .color--#{$palette} {
    background-color: palette($palette, bg);

    * {
      color: palette($palette, body);
    }

    .elementor-text-editor > p > a {
      @include link($palette);
    }

    ::selection {
      background-color: palette($palette, accent);
      color: palette($palette, bg);
      text-shadow: none;
    }

    blockquote,
    blockquote p {
      color: rgba(palette($palette, body), 0.7);

      &::after,
      &::before {
        color: rgba(palette($palette, body), 0.3);
      }
    }

    @each $palette, $color in $palettes {
      .color--#{$palette} {
        background-color: palette($palette, bg);

        * {
          color: palette($palette, body);
        }

        .elementor-text-editor > p > a {
          @include link($palette);
        }

        ::selection {
          background-color: palette($palette, accent);
          color: palette($palette, bg);
          text-shadow: none;
        }
      }
    }
  }
}


.color--dark,
.color--dark {
  h1,
  h2,
  h3 {
    color: $white;
  }
}
.color--light {
  h1,
  h2,
  h3 {
    color: $green;
  }
}

.overlay--dark {
  @include color-overlay(dark, 0.5);
}
