/*******
 * Bottom padding
 *************/
.pb-none {
  padding-bottom: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: 0;
    }
  }
}

.pb-xs {
  padding-bottom: $l_v_xs;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_xs;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_xs;
    }
  }
}

.pb-sm {
  padding-bottom: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_sm;
    }
  }
}
.pb-md {
  padding-bottom: $l_v_md;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_md;
    }
  }
}
.pb-lg {
  padding-bottom: $l_v_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_lg;
    }
  }
}
.pb-xl {
  padding-bottom: $l_v_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_xl;
    }
  }
}


/*********
 * Vertical padding
 *************/
.pv-none {
  @include pad($v: 0);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: 0);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: 0);
    }
  }
}
.pv-xs {
  @include pad($v: $l_v_xs);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_xs);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_xs);
    }
  }
}
.pv-sm {
  @include pad($v: $l_v_sm);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_sm);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_sm);
    }
  }
}
.pv-md {
  @include pad($v: $l_v_md);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_md);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_md);
    }
  }
}
.pv-lg {
  @include pad($v: $l_v_lg);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_lg);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_lg);
    }
  }
}
.pv-xl {
  @include pad($v: $l_v_xl);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_xl);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_xl);
    }
  }
}


/***********
 * Bottom padding
 ****************/
.pt-none {
  padding-top: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: 0;
    }
  }
}
.pt-xs {
  padding-top: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_sm;
    }
  }
}
.pt-sm {
  padding-top: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_sm;
    }
  }
}
.pt-md {
  padding-top: $l_v_md;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_md;
    }
  }
}
.pt-lg {
  padding-top: $l_v_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_lg;
    }
  }
}
.pt-xl {
  padding-top: $l_v_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_xl;
    }
  }
}
