/**
 * Section overflow
 */
.elementor-section {
  @include layout-overflow();
  position: relative;

  * {
    background-position: center;
  }
}

/****
 * Vertical widget align
 ****/
.elementor-section-content-top > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-section-content-middle > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap {
  align-items: center;
}
.elementor-section-content-bottom > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap {
  align-items: flex-end;
}


/**
 * Section inner container
 */
.elementor-section .elementor-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/**
 * Section Row
 */
.elementor-row {
  width: auto;
  display: flex;
  flex-basis: 100%;
  //TC elementor backend
  flex-grow: 1;
  flex-wrap: wrap;
}


/******
 * Columns wraps
 * Elementor Backend
 *********/
.elementor-column-wrap {
  width: 100%;
  position: relative;
  display: flex;
}

.elementor-widget-wrap {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elementor-inner-section {
  width: 100% !important;
}

/***
 * Columns
 */
.elementor-column {
  @include flex-child($wd: 100);
  min-height: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.elementor-col-66,
.elementor-column[data-col="66"] {
  @include breakpoint-min(lg) {
    @include flex-child($wd: 66.6666);
  }
}

.elementor-col-50,
.elementor-column[data-col="50"] {
  @include breakpoint-min(lg) {
    @include flex-child($wd: 50);
  }
}

.elementor-col-33,
.elementor-column[data-col="33"] {

  @include breakpoint-min(lg) {
    @include flex-child($wd: 33.33333);
  }
}

.elementor-col-25,
.elementor-column[data-col="25"] {

  @include breakpoint-min(lg) {
    @include flex-child($wd: 25);
  }
}

/***
 * Mobile order for columns
 **/
.column--mob-order-1 {
  order: 1;

  @include breakpoint-min(lg) {
    order: inherit;
  }
}
.column--mob-order-2 {
  order: 2;

  @include breakpoint-min(lg) {
    order: inherit;
  }
}
.column--mob-order-3 {
  order: 3;

  @include breakpoint-min(lg) {
    order: inherit;
  }
}
.column--mob-order-4 {
  order: 4;

  @include breakpoint-min(lg) {
    order: inherit;
  }
}
