/*****************************************************************************************
 *
 *                                          BOXED SECTION
 *                These are the basi Elementor's sections: they have a predefined
*                     maximim width, that equals the width of the website
 *
 ****************************************************************************************/
.elementor-section-boxed:not(.elementor-inner-section) {
  @include marg($v: $l_v_sm);
  
  @include breakpoint-min($col_bp) {
    @include marg($v: $l_v_md);

  }
}
/**
 * BOXED section width
 * it needs a separate rules because of nesting
 */
.elementor-section-boxed > .elementor-container {
  max-width: $website-width;
}


/**
 * Boxed Sections
 * Basic setup
 */
.elementor-section-boxed:not(.elementor-inner-section) {
  @include layout-padding();
}

.elementor-section-boxed {
  // Vertical Spacing
  &> .elementor-container {
    // @include pad($v: $l_v_md);

    // @include breakpoint-min($col_bp) {
    //   @include pad($v: $l_v_md);
    // }

  }
}



// .elementor-section-boxed .elementor-column {
//   @include marg($v: 2);
//
//   @include breakpoint-min($col_bp) {
//     @include marg($v: 0);
//   }
// }

/**
 * COLUMNS Horizontal gutter - only on large screen
 */

.elementor-section-boxed {

  // Default gap
  .elementor-column-gap-default,
  .elementor-column-gap-wide,
  .elementor-column-gap-wider,
  .elementor-column-gap-narrow,
  .elementor-column-gap-extended  {

    &> .elementor-row {
      @include col_marg();

      &> .elementor-column {
        @include col_pad();
      }
    }
  }
}


/**
 * Big padding on wide and wider sections
 */
@include breakpoint-min(xl) {
  .elementor-section-boxed {

    // Wide & Wider gap
    .elementor-column-gap-wide {

      &> .elementor-row {
        @include marg($h: -$l_h_lg);

        &> .elementor-column {
          @include pad( $h: $l_h_lg );
        }
      }
    }

    .elementor-column-gap-wider {

      &> .elementor-row {
        @include marg($h: -$l_h_xl);

        &> .elementor-column {
          @include pad( $h: $l_h_xl );
        }
      }
    }
  }
}


/*========================================================================================
 * NESTED SECTION
 */

.elementor-inner-section {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  @include marg($v: 5);
}

// Vertical spacing nested
.elementor-inner-section {
  // Vertical Spacing
  &> .elementor-container {
    // @include pad($v: $l_v_xs);
  }
}

/**
 * Sections with borders
 */
.section--border-center {
  @include breakpoint-min(lg) {
    &.elementor-inner-section > .elementor-container {
      padding: 0;
    }
    .elementor-column {
      padding-top: $l_v_sm;
      padding-bottom: $l_v_sm;

      &:first-child {
        border-right: 1px solid main-colors(main, border);
      }
      &:last-child {
        border-left: 1px solid main-colors(main, border);
      }
    }
  }
}

@each $palette, $color in $palettes {
  .color--#{$palette} .section--border-center .elementor-column {
    border-color: palette($palette, border);
  }
}
