/**
 * Local Variables
 */
$el-gutter-sm: 5;
$el-gutter-md: 6.5;
$el-gutter-lg: 8;

$el-v-space: 7;

/*****************************************************************************************
 *
 *                                          BOXED SECTION
 *                These are the basi Elementor's sections: they have a predefined
*                     maximim width, that equals the width of the website
 *
 ****************************************************************************************/


/**
 * BOXED section width
 * it needs a separate rules because of nesting
 */
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: $website-width;
}


/**
 * Boxed Sections
 * Basic setup
 */
.elementor-section-boxed {
  // lateral padding
  @include layout-padding();



  // Vertical Spacing
  &> .elementor-container {
    @include pad($v: 6);

    // Vertical spacing on large screen
    @include breakpoint-min(el) {
      @include pad($v: 7);
    }

    // Resets all the padding on gap-no section
    &.elementor-column-gap-no {
      @include pad($v: 0);
    }
  }
}




/*========================================================================================
 * COLUMNS
 */

.elementor-section-boxed  .elementor-column {
  @include breakpoint-max(el) {
    @include pad($v: 3);
  }
}

/**
 * COLUMNS Vertical gutter - only on large screen
 */
@include breakpoint-min(el) {
.elementor-section-boxed {


  }
}



/**
 * COLUMNS Horizontal gutter - only on large screen
 */
@include breakpoint-min(el) {
  .elementor-section-boxed {

    // Default gap
    .elementor-column-gap-default {

      &> .elementor-row {
        @include marg($h: -$el-gutter-md);

        &> .elementor-column {
          @include pad( $h: $el-gutter-md );
        }
      }
    }

    // Wide & Wider gap
    .elementor-column-gap-wide,
    .elementor-column-gap-wider {
      &> .elementor-row {
        @include marg($h: -$el-gutter-md);

        &> .elementor-column {
          @include pad( $h: $el-gutter-md );
        }
      }
    }

    // Narrow & Extended gap
    .elementor-column-gap-narrow,
    .elementor-column-gap-extended {
      &> .elementor-row {
        @include marg($h: -$el-gutter-sm);

        &> .elementor-column {
          @include pad( $h: $el-gutter-sm );
        }
      }
    }
  }
}

/**
 * Big padding on wide and wider sections
 */
@include breakpoint-min(lg) {
  .elementor-section-boxed {

    // Wide & Wider gap
    .elementor-column-gap-wide,
    .elementor-column-gap-wider {
      &> .elementor-row {
        @include marg($h: -$el-gutter-lg);

        &> .elementor-column {
          @include pad( $h: $el-gutter-lg );
        }
      }
    }
  }
}


/*========================================================================================
 * NESTED SECTION
 */

/**
 * Vertical padding correction
 */
.elementor-section-boxed.elementor-inner-section {
  &> .elementor-container {
    // Mobile
    @include pad($v: 0);

    // Large screens //TODO - check if this should be breapoint 'el'
    @include breakpoint-min(lg) {
      @include pad($v: 4);
    }
  }
}


/**
 * Horizontal margin correction
 * Negative margin is applied to the section
 * According to the parent section type.
 */
@include breakpoint-min(el) {

  .elementor-section-boxed.elementor-inner-section {

    // Narrow & Extended parents
    @at-root .elementor-column-gap-narrow #{&} {
      @include marg($h: -$el-gutter-sm);
    }
    @at-root .elementor-column-gap-extended #{&} {
      @include marg($h: -$el-gutter-sm);
    }

    // Wide & Wider parents
    @at-root .elementor-column-gap-wide #{&} {
      @include marg($h: -$el-gutter-lg);
    }
    @at-root .elementor-column-gap-wider #{&} {
      @include marg($h: -$el-gutter-lg);
    }
  }
}

/**
 * Special layout such as the 1/3 +2/3 with the netsted columns inside
 */
.elementor-col-66 .elementor-section-boxed.elementor-inner-section {

  @include breakpoint-max(xl) {
    .elementor-column {
      @include pad($v: 2);
    }

    .elementor-col-50 {
      width: 100%;

      .elementor-widget {
        margin-right: auto;
      }
    }

    .elementor-col-100 {
      .widget--wider,
      .widget--full {
        max-width: max-width($text-mw);
      }
    }
  }
}

/**
 * Sections with borders
 */
.section--border-center {
  @include breakpoint-min(el) {
    &.elementor-inner-section > .elementor-container {
      padding: 0;
    }
    .elementor-column {
      padding-top: spacing($el-gutter-md) / 2;
      padding-bottom: spacing($el-gutter-md) / 2;

      &:first-child {
        border-right: 1px solid $grigio;
      }
      &:last-child {
        border-left: 1px solid $grigio;
      }
    }
  }
}

@each $palette, $color in $palettes {
  .color--#{$palette} .section--border-center .elementor-column {
    border-color: palette($palette, border);
  }
}

.border-bottom--short {

  &::after {
    content: "";
    // height: spacing(1);
    border-bottom: solid 1px $grigio;
    width: 55%;
    left: 0;
    top: 100%;
    position: absolute;
    padding-top: spacing(6.5);
    margin-left: spacing(6.5);

    @include breakpoint-max(el) {
      padding-top: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: spacing(4);
      width: 80%;
    }
  }
}
