/**
 * Standard column gutter and layout
 */
.elementor-section-full_width {

  ///
  // Standard gutter
  ///
  .elementor-row  {
    // @include col_marg();

    .elementor-column {
      // @include col_pad();
    }
    .elementor-column-wrap {
      @include layout-padding();
      height: 100%;
      @include pad($v: $l_v_md);
    }
  }

  // On mobile, the widget centers itself vertically
  // to accomodate a possible extended min height
  .elementor-widget-wrap {
    justify-content: center;

    @include breakpoint-min(lg) {
      justify-content: inherit;
    }
  }

  // On mobile Min height for empty columns with just a bg image
  .elementor-row > .column--mobile-height .elementor-element-populated {
    padding-bottom: 100%;

    @include breakpoint-min(md) {
      padding-bottom: 50%;
    }
    @include breakpoint-min(lg) {
      padding-bottom: inherit;
    }
  }
}



/**
 * COLUMNS gutter - only on large screen
 */
@include breakpoint-min(lg) {
  .elementor-section-full_width {

    // Default gap
    .elementor-row > .elementor-column .elementor-column-wrap {
      // @include pad( $h: $el-gutter-md );
      // @include pad( $v: $el-gutter-lg );
    }

    // A slightly smaller gap
    .elementor-column-gap-narrow,
    .elementor-column-gap-extended {
      &> .elementor-row > .elementor-column .elementor-column-wrap {
        // @include pad( $v: $el-gutter-md );
        // @include pad( $h: $el-gutter-sm );
      }
    }

    // Force column content to align to the boxed section content
    .column--force-right {
      //remove the grid padding
      @include breakpoint-min(xl) {
        padding-right: 0;
      }

      .elementor-column-wrap {
        max-width: $website-width / 2;
        margin-left: auto;
        margin-right: 0;
        // remove the layout padding
        @include breakpoint-min(xl) {
          padding-left: 0;
        }
      }
    }

    .column--force-left {
      //remove the grid padding
      @include breakpoint-min(xl) {
        padding-left: 0;
      }

      .elementor-column-wrap {
        max-width: $website-width / 2;
        margin-right: auto;
        margin-left: 0;

        @include breakpoint-min(xl) {
          padding-right: 0;
        }
      }
    }
  }
}
