.theme-icon {
  font-family: "Theme Icons";
}

.theme-icon--diamond:before { content: '\e800'; } /* '' */
.theme-icon--angle-down:before { content: '\e801'; } /* '' */
.theme-icon--angle-left:before { content: '\e802'; } /* '' */
.theme-icon--angle-right:before { content: '\e803'; } /* '' */
.theme-icon--angle-up:before { content: '\e804'; } /* '' */
.theme-icon--map-2:before { content: '\e805'; } /* '' */
.theme-icon--add-user:before { content: '\e806'; } /* '' */
.theme-icon--bookmarks:before { content: '\e807'; } /* '' */
.theme-icon--call:before { content: '\e808'; } /* '' */
.theme-icon--camera:before { content: '\e809'; } /* '' */
.theme-icon--cart:before { content: '\e80a'; } /* '' */
.theme-icon--clock:before { content: '\e80b'; } /* '' */
.theme-icon--cloud:before { content: '\e80c'; } /* '' */
.theme-icon--config:before { content: '\e80d'; } /* '' */
.theme-icon--copy-file:before { content: '\e80e'; } /* '' */
.theme-icon--download:before { content: '\e80f'; } /* '' */
.theme-icon--expand1:before { content: '\e810'; } /* '' */
.theme-icon--file:before { content: '\e811'; } /* '' */
.theme-icon--folder:before { content: '\e812'; } /* '' */
.theme-icon--gift:before { content: '\e813'; } /* '' */
.theme-icon--global:before { content: '\e814'; } /* '' */
.theme-icon--junk:before { content: '\e815'; } /* '' */
.theme-icon--like:before { content: '\e816'; } /* '' */
.theme-icon--like2:before { content: '\e817'; } /* '' */
.theme-icon--link:before { content: '\e818'; } /* '' */
.theme-icon--lock:before {
  content: '\e819';
} /* '' */
.theme-icon--mail-open:before { content: '\e81a'; } /* '' */
.theme-icon--mail:before { content: '\e81b'; } /* '' */
.theme-icon--map-marker:before { content: '\e81c'; } /* '' */
.theme-icon--menu:before { content: '\e81d'; } /* '' */
.theme-icon--more:before { content: '\e81e'; } /* '' */
.theme-icon--paperclip:before { content: '\e81f'; } /* '' */
.theme-icon--pin:before { content: '\e820'; } /* '' */
.theme-icon--refresh:before { content: '\e821'; } /* '' */
.theme-icon--repeat:before { content: '\e822'; } /* '' */
.theme-icon--search:before { content: '\e823'; } /* '' */
.theme-icon--share:before { content: '\e824'; } /* '' */
.theme-icon--star:before { content: '\e825'; } /* '' */
.theme-icon--tools:before { content: '\e826'; } /* '' */
.theme-icon--trash:before { content: '\e827'; } /* '' */
.theme-icon--user:before { content: '\e828'; } /* '' */
.theme-icon--wallet:before { content: '\e829'; } /* '' */
.theme-icon--attention:before { content: '\e82a'; } /* '' */
.theme-icon--back:before { content: '\e82b'; } /* '' */
.theme-icon--android:before { content: '\e82c'; } /* '' */
.theme-icon--dropbox:before { content: '\e82d'; } /* '' */
.theme-icon--ebay:before { content: '\e82e'; } /* '' */
.theme-icon--facebook:before { content: '\e82f'; } /* '' */
.theme-icon--google-drive:before { content: '\e830'; } /* '' */
.theme-icon--google-plus:before { content: '\e831'; } /* '' */
.theme-icon--instagram:before { content: '\e832'; } /* '' */
.theme-icon--linkedin:before { content: '\e833'; } /* '' */
.theme-icon--paypal:before { content: '\e834'; } /* '' */
.theme-icon--pintrest:before { content: '\e835'; } /* '' */
.theme-icon--skype:before { content: '\e836'; } /* '' */
.theme-icon--tumblr:before { content: '\e837'; } /* '' */
.theme-icon--twitter:before { content: '\e838'; } /* '' */
.theme-icon--windows:before { content: '\e839'; } /* '' */
.theme-icon--wordpress:before { content: '\e83a'; } /* '' */
.theme-icon--youtube-1:before { content: '\e83b'; } /* '' */
.theme-icon--youtube-2:before { content: '\e83c'; } /* '' */
