body {
  font-family: $ff-primary;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}


/*
 * HTML base font size: calculated with between() function
 */
html {
  font-size: between(15,18, 320,2000, "vw");

  // @include breakpoint-min(sm) {
  //   font-size: between(12,14, 480,1360, "vw");
  // }

  // @include breakpoint-min(xl) {
  //   font-size: between(14,16.5, 1360,2000, "vw");
  // }

  @include breakpoint-min(uxl) {
    font-size: 1vw;
  }
}


/*************************************************************************************************************
 *  Baisc typographic elements
 **/

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}


/*******************************************************************************************************************
 *
 * Main typography
 *
 ****/

.typography {
  & > * {
    max-width: max-width($text-mw);
  }

  &> .woocommerce {
    max-width: none;
    width: 100%;
  }
  &> h1 {
    @include font(h1, $mt: default, $mb: default);
  }

  &> h2 {
    @include font(h2, $mt: default, $mb: default);
  }

  &> h3 {
    @include font(h3, $mt: default, $mb: default);
  }

  &> h4 {
    @include font(h4, $mt: default, $mb: default);
  }

  &> h5 {
    @include font(h5, $mt: default, $mb: default);
  }

  &> p {
    @include font(p, $mt: default, $mb: default);
  }

  &> p > a,
  &> ol > li > a,
  &> ul > li > a {
    @include link;
  }

  &> ul,
  &> ol {
    @include list();

    li {
      @include font(p);
    }
  }

  &> ul {
    list-style: disc;
  }
  &> ol {
    list-style: decimal;
  }
}

.title--special {
  position: relative;

  &:before {

  }

  &:after {

  }
}

::selection {
  background-color: main-colors(main, accent);
  color: main-colors(main, bg);
  text-shadow: none;
}

p > strong {
  font-weight: 400;
}

.typography,
.elementor-text-editor {
  &> .title--h1 {
    @include font(h1, $mt: default, $mb: default);
  }
}

@each $font, $style in $fonts {
  .#{$font} {
    @include font($font);
  }
}

@each $font, $style in $fonts {
  .typography > .#{$font},
  .elementor-text-editor > .#{$font} {
    @include font($font, $mt: default, $mb: default);
  }
}
