body {
  font-family: $ff-secondary;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}


/*
 * HTML base font size: calculated with between() function
 */
html {
  font-size: between(14,16.5, 320,2000, "vw");

  // @include breakpoint-min(sm) {
  //   font-size: between(12,14, 480,1360, "vw");
  // }

  // @include breakpoint-min(xl) {
  //   font-size: between(14,16.5, 1360,2000, "vw");
  // }

  @include breakpoint-min(uxl) {
    font-size: 1vw;
  }
}

.typography {
  & > * {
    max-width: max-width(md);
  }
  &> h1 {
    @include font(h1, $mt: 6, $mb: 4);
  }

  &> h2 {
    @include font(h2, $mt: 6.5, $mb: 2);
  }

  &> h3 {
    @include font(h3, $mt: 5, $mb: 2);
  }

  &> h4 {
    @include font(h4, $mt: 5, $mb: 2);
  }

  &> p {
    @include font(p, $mt: 4, $mb: 0);
  }

  a {
    position: relative;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, 1px 1px 0 #fff;
    transition: color .15s ease-in;
    background-position: 0 1.0525em;
    background-size: 5px 5px;
    background-repeat-y: no-repeat;
    background-image: linear-gradient(to top, transparent, transparent 1.5px, main-colors(main, accent) 2.5px, main-colors(main, accent) 2px, transparent 2px);
    background-position: center bottom;
  }
}


::selection {
  background-color: main-colors(main, accent);
  color: main-colors(main, bg);
  text-shadow: none;
}
