body {
  font-family: $ff-primary;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}


/*
 * HTML base font size: calculated with between() function
 */
html {
  font-size: between(14,16.5, 320,2000, "vw");

  // @include breakpoint-min(sm) {
  //   font-size: between(12,14, 480,1360, "vw");
  // }

  // @include breakpoint-min(xl) {
  //   font-size: between(14,16.5, 1360,2000, "vw");
  // }

  @include breakpoint-min(uxl) {
    font-size: 1vw;
  }
}

.typography {
  & > * {
    max-width: max-width($text-mw);
  }
  &> h1 {
    @include font(h1, $mt: 6, $mb: 4);
  }

  &> h2 {
    @include font(h2, $mt: 6.5, $mb: 2);
  }

  &> h3 {
    @include font(h3, $mt: 5, $mb: 2);
  }

  &> h4 {
    @include font(h4, $mt: 5, $mb: 2);
  }

  &> p {
    @include font(p, $mt: 4, $mb: 0);
  }

  &> p > a {
    @include link;
    font-weight: bold;
  }

  &> ul,
  &> ol {
    @include marg($v: 4);
    margin-left: spacing(5);

    li {
      @include font(p);
    }
  }

  &> ul {
    list-style: disc;
  }
  &> ol {
    list-style: decimal;
  }
}

.title--special {
  position: relative;

  &:before {

  }

  &:after {

  }
}

::selection {
  background-color: main-colors(main, accent);
  color: main-colors(main, bg);
  text-shadow: none;
}

p > strong {
  font-weight: 600;
}
