/********************************
* WC archive
************************************/
.product-grid {
  @include marg($v: 16);
  &__inner {
    max-width: $website-width;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid $black-10;
  }

  &__title-container {
    @extend .h5;
    padding-right: spacing(2);
    // margin-bottom: spacing(2);
    // padding-bottom: spacing(2);
    border-bottom: spacing(1) solid $orange;
    padding-bottom: spacing(2);
    min-width: spacing(22);
    // flex-grow: 1;
  }

  &__title {
    // border-bottom: spacing(1) solid $orange;
    padding-bottom: spacing(2);
    @extend .h4;
    display: none;
    // font-weight: bold;
    // text-transform: uppercase;
    // padding-right: spacing(1);
  }

  select {
    @extend .h5;
    border: 0;
  }

  &__subtitle {

  }

  &__more {
    padding-bottom: spacing(2);
    flex-shrink: 1;
  }

  &__list {
    @include flex-setup(-2);
    // width: 100%;

    @include breakpoint-min($col_bp) {
      @include marg($h: -4)
    }
  }

  &__column--content-full {
    width: 100%;
  }
}
.prgi-card {
  @include flex-child(2, 50);
  // @include marg($v: 4);
  margin-top: spacing(8);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint-min($col_bp) {
    @include flex-child(4, 25);
  }

  &__image-container {
    position: relative;
    background:rgba($orange, 0.1);
    padding-top: spacing(3);
    margin-bottom: spacing(-2);
  }

  &__image {
    padding-top: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    top: 0;
    height: 100%;
    width: 100%;

    .ratio__content {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
    }

    img {
      display: block;
      height: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__info {
    // position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__surtitle {
    @extend .h5;
    color: $orange !important;
    // display: inline-block;
    background-color: $white;
    z-index: 1;
    position: relative;
    width: fit-content;
    @include marg($h: auto);
    margin-bottom: spacing(2);
    @include pad($h: 1);
    // display: none;
  }

  &__title {
    display: block;
    line-height: 1;

    &--p2 {
      color: $tortora;
    }
  }

  &__title-container {
    margin-bottom: spacing(2);
    @extend .h5;
    // text-transform: uppercase;
    font-weight: bold;
  }

  &__subtitle {
    // @include marg($v: 1);
    margin-top: spacing(-1);
    margin-bottom: spacing(1);
    @extend .h5_light;
  }

  .price {
    display: block;
    @include font(p);
    margin-top: auto;
    margin-bottom: spacing(2);
  }

  .star-rating {
    position: absolute;
    top: spacing(1);
    right: spacing(6);
  }

  .button {
    @include button(h5_light, $pv: 0.5, $ph: 2);
    text-transform: uppercase;
    font-weight: bold;
    @include button-color(light);
    margin-top: 0;
    width: auto;
    @include marg($h: auto);
    margin-bottom: spacing(2);
    opacity: 0;
    transition: all 0.4s;
    @at-root .prgi-card:hover .button {
      opacity: 1;
    }
    &.loading {
      opacity: 0.2;
    }
  }

  .added_to_cart {
    color: $green;
    display: block;
    position: absolute;
    bottom: 0;
    padding-top: spacing(2);
    width: 100%;
    left: 0;
  }
}
