.product__row {
  @include flex-setup(-4);
}

.product__inner {
  max-width: max-width($text-mw);

  @include breakpoint-min($col_bp) {
    max-width: $website-width;
  }
}

.wc-tabs-wrapper,
.product__summary,
.product__images {
  @include flex-child(4, $wd: 100);
  position: relative;
  @include breakpoint-min($col_bp) {
    @include flex-child($wd: 50);
  }

  .woocommerce-product-gallery {
    margin-bottom: spacing(6);

    figure {
      margin: 0;
    }
  }

  .woocommerce-product-gallery__trigger {
    padding: spacing(2);
  }

  .flex-viewport {
    margin-bottom: spacing(2);
  }

  .flex-active-slide .zoomImg {
    background: main-colors(main, bg);
  }

  .flex-control-nav {
    @include marg($h: -2);
  }
  .flex-control-thumbs li {
    padding: spacing(2);
  }

  .onsale {
    color: main-colors(main, bg);
    background: rgba(main-colors(main, body), 0.7);
    padding: spacing(2);
    @extend .h4;
    border-radius: spacing(4);
    position: absolute;
    z-index: 1;
    top: spacing(2);
    left: spacing(6);
  }

  .woocommerce-product-gallery__trigger {
    position: absolute;
    top: spacing(2);
    right: spacing(4);
    z-index: 1;
  }
}

.product{
  
  &__surtitle {
    @extend .h4_upper;
    margin-bottom: spacing(2);
  }

  &__title {
    @extend .h2;
    
    &--p2 {
      color: $orange;
      // color: $grey;
      display: block;
    }
  }
}
/*
 * Summary
 */
.product__summary {
  @include flex-child($wd: 100);
  
  @include breakpoint-min($col_bp) {
    @include flex-child($wd: 50);
  }
}

.product_title  {
  @include font(h2);
}

p.price {
  @include font(p);
  @include marg($v: 4);
}

.woocommerce-product-details__short-description {
  @include marg($v: 4);
  p {
    @include font(p, $mt:default, $mb:default);
  }
}

.single-product .quantity {
  max-width: max-width(xs);
  margin-top: spacing(6);
  label {
    @include font(h4);
    margin-right: spacing(2);
  }
  .qty {
    max-width: spacing(7);
    min-width: spacing(12);
    padding: spacing(1) spacing(2);
    color: main-colors(main, body);

    // @include breakpoint-min(lg) {
    //   margin-left: spacing(1);
    // }
  }
}

.single_add_to_cart_button {
  @include button(h4_upper, $pv: 1);
  @include button-color(main, filled);
  @include marg($v: 5);
  text-transform: uppercase;
}

/****
 * Variation
 */
.variations {
  position: relative;
  @include marg($v: 4);
  .label {
    @include font(h4);
    padding-right: spacing(1);
  }

  select {
    padding: spacing(2);
    border-color: $black-10;
  }
}

.woocommerce-variation-price {
  margin-top: spacing(8);
  color: $green;
}

.reset_variations {
  line-height: $line-height;
  position: absolute;
  bottom: spacing(-4);
}

.wc-tabs-wrapper {
  justify-self: flex-end;
  margin-right: 0;
  margin-left: auto;
  margin-top: spacing(12);

  // @include breakpoint-min($col_bp) {
  //   margin-top: spacing(12);
  // }


  &> * {
    @include max-width($text-mw);
    @include breakpoint-min($col_bp) {
      max-width: none;
    }
  }
}

.wc-tabs {
  display: block;
  @include breakpoint-min($col_bp) {
    display: flex;
    justify-content: space-between;  
  }
  li {
    padding: 0;
    // @include pad($h: 2);
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $black-10;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint-min($col_bp) {
      width: auto;
      @include pad($h: 2);
      border: 0;
    }

    // @include pad($h: 2);
    // @include pad($v: 2);
    // border-right: 1px solid $black-40;
    // //border-bottom: 2px solid $black-40;
    // border-top: 1px solid $black-40;
    // border-radius: 2px 2px 0 0;

    &.active {
      // border-bottom: 1px solid $white;
    }

    &:first-child {
      // border-left: 1px solid $black-40;
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  a {
    @include pad($v: 2);
    display: block;
    @extend .p;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: spacing(1) solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .active a {
    border-color: $orange;
    // border-color: $black-90;
  }
}


.woocommerce-Tabs-panel {
  // padding-bottom: spacing(4);
  padding-top: spacing(8);
  // border-left: 1px solid $black-40;
  // border-right: 1px solid $black-40;
  margin-top: -1px; // it hides the border
  border-radius: 0px 2px 2px 2px;

  @include breakpoint-min($col_bp) {
    // border-bottom: 1px solid $black-10;
    border-top: 1px solid $black-10;

  }

  h2 {
    @include font(h2, $mt: default, $mb: default);
  }
  h3 {
    @include font(h3, $mt: default, $mb: default);
  }
  h4 {
    @include font(h4, $mt: default, $mb: default);
  }

  p {
    @include font(p, $mb: 4);
  }

  .woocommerce-Reviews-title {
    display: none;
  }

  .comment-reply-title {
    @extend .p;
    margin-bottom: spacing(4);
    display: block;
  }

  .commentlist {
    list-style: none;
    @include marg($v: 4);
  }

  .review {
    border-bottom: 1px solid $black-10;
    padding-bottom: spacing(4);
    @include marg($v: 4);


    // &:last-child {
    //   border-bottom: 0;
    // }
    .meta {
      margin-bottom: spacing(2);
    }
    .description > p {
      @extend .h5_light;
      margin-bottom: spacing(2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .comment_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .comment-text {
    width: 90%;
    flex-basis: 90%;
    padding-left: spacing(4);
  }

  .avatar {
    width: 10%;
    flex-basis: 10%;
    border-radius: 100%;
    border: 1px solid $black-50;
  }

  label[for=rating] {
    display: block;
  }
  .stars {
    display: inline-block;
    
    a {
      position: relative;
      text-indent: -999em;
      display: inline-block;
      // margin-right: spacing(1);
      margin-right: 1.5rem;
      font-size: 1.5rem;
    }
    a:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      content: '★';
      color: $orange;
      text-indent: 0;
      opacity: 0.25;
      transition: all 0.25s;
    }

    a,
    a:hover~a,
    &.selected a.active~a   {
      &:before {
        opacity: 0.45;
      }
    }

    &:hover a:before,
    &.selected a.active:before,
    &.selected a.active:before,
    &.selected a:not(.active):before,
    &.selected a.active:before {
      opacity: 1;
    }
  }

  .form-submit {
    input {
      @include button-color;
      @include button(p, $pv: 1);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

/***
 * Attributes
 ****/
.shop_attributes {
  width: 100%;
  // margin-top: spacing(4);
  border-spacing: 0;
  border-collapse: collapse;
} 

.woocommerce-product-attributes-item__label {
  @extend .h4;
  text-align: left;
  border-bottom: 1px solid $black-10;
}

.woocommerce-product-attributes-item__label,
.woocommerce-product-attributes-item__value {
  border-bottom: 1px solid $black-10;
  vertical-align: middle;
  @include pad($v: 2);

  p {
    margin-bottom: 0;
  }
}
.woocommerce-product-attributes-item  {
  &:last-child {
    .woocommerce-product-attributes-item__label,
    .woocommerce-product-attributes-item__value {
      border-bottom: 0;
    }
  }
}
/*
 * Related Products
 */

.product__product-grid {
  // margin-top: spacing(12);
  padding-top: spacing(12);
  // border-top: 1px solid $black-10;

  .product-grid {

    &__title {
      @extend .h5;
      display: inline-block;
      padding-right: spacing(1);
      padding-bottom: spacing(0);
    }
  }
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: spacing(4);
  text-align: center;
  width: 4.2rem;;
  opacity: 0.7;

  @at-root .prgi #{&} {
    position: absolute;
    right: spacing(1);
    top: spacing(1);
    height: spacing(4);
    z-index: 9;

    @include breakpoint-min(sm) {
      right: spacing(4);
    }
  }

  &::before,
  span::before {
    content: "★★★★★";
  }

  &::before {
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    color: $black-50;

    @at-root .product__summary #{&} {
      @include breakpoint-min($col_bp) {
        color: $white-50;
      }
    }
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;

    &::before {
      top: 0;
      position: absolute;
      left: 0;
      color: $orange;
    }
  }
}

ins {
  text-decoration: none;
}