.product__images {
  @include flex-child($wd: 50);

  .woocommerce-product-gallery {
    margin-bottom: spacing(6);
  }

  .woocommerce-product-gallery__trigger {
    padding: spacing(2);
  }

  .flex-viewport {
    margin-bottom: spacing(2);
  }

  .flex-active-slide .zoomImg {
    background: main-colors(main, bg);
  }

  .flex-control-nav {
    @include marg($h: -2);
  }
  .flex-control-thumbs li {
    padding: spacing(2);
  }

  .onsale {
    color: main-colors(main, bg);
    background: main-colors(main, body);
    padding: spacing(4);
  }
}


/*
 * Summary
 */
.product__summary {
  @include flex-child($wd: 50);
}

.product_title  {
  @include font(h1);
}

p.price {
  @include font(p);

  @include marg($v: 4);
}

.woocommerce-product-details__short-description {
  @include marg($v: 4);
}

.single-product .quantity {
  max-width: max-width(xs);
  margin-top: spacing(6);

  .qty {
    max-width: spacing(6);
    padding: spacing(1);

    @include breakpoint-min(lg) {
      margin-left: spacing(1);
    }
  }
}

.single_add_to_cart_button {
  @include button(p);
  @include marg($v: 5);
  text-transform: uppercase;
}

/*
 * Tabs
 */
.wc-tabs-wrapper {
  @include flex-child($wd: 100);
}

.wc-tabs {

  li {
    @include pad($h: 1);
  }
}
