.mobile-nav__menu {
  @include pad($h: 4);
  @include pad($v: 6);
  // background-color: main-colors(header, bg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  overflow-x: hidden;
}

.mobile-nav__icon {
  fill: main-colors(header, accent);
}

.modal .mobile-nav__menu {
  position: absolute;
}
.modal--show .mobile-nav__menu {
  position: fixed;
}

.mobile-nav__inner {
  @include pad($h: 4);
  padding-top: spacing(8);
  padding-bottom: spacing(6);
  background-color: main-colors(header, accent);
  display: flex; //TODO - move in parent
  flex-direction: column; //TODO move in parent
  justify-content: flex-start;
  height: 100vh;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;



  li {
    @include font(p, $pt: 2, $pb: 2);
    text-transform: uppercase;
    flex-basis: auto;
    width: 100%;
    border-bottom: 1px solid main-colors(header, border);

    &:last-child {
      border: 0;
      margin-bottom: 10vh;
    }
  }

  .item--bottom,
  .wpml-ls-first-item {
    margin-top: auto;
    margin-bottom: 0;
  }

  a {
    @include pad($v: 2);
    display: block; //TODO move in parent
    color: main-colors(header, bg);
  }
}

.mobile-nav__toggler--close {
  top: 6vw;
  right: 6vw;
  z-index: 99;
  position: absolute;

  @include breakpoint-min(md) {
    top: spacing(4);
    right: spacing(4);
  }

  @at-root .modal #{&} {
    display: none;
  }
  @at-root .modal--show #{&} {
    display: block;
  }

  .mobile-nav__icon--close {
    fill: main-colors(header, bg);
  }
}



.mobile-nav__toggler {
  width: spacing(6);
  height: spacing(6);
}

/**
 * Mobile Nav
 */
.mobile-nav__toggler--open {
  @include breakpoint-min($header_bp) {
    display: none;
  }
}
