.primary-nav {
  @include marg($v: 4);
  display: none;

  @include breakpoint-min($header_bp) {
    display: block;
  }
}

.primary-nav__inner {
  @include marg($h: auto);

  text-align: center;
  max-width: $website-width;
  display: flex;
  justify-content: flex-end;

  &> .menu-item {
    @include font(h4_upper);
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding: 0;
    margin-right: spacing(6);

    &:last-child {
      margin-right: 0;
    }

    a {
      line-height: inherit;
    }

    &:hover,
    &.current-menu-item {
      position: relative;

      &::after {

      }

      &> a {
        color: main-colors(header, accent);

      }
    }

    &:hover {
      &>.sub-menu {
        top: spacing(4) * 1.00;
        height: auto;
        opacity: 1;
        transition: all 0.5s;

      }
    }
  }

  &> .blu > a:hover,
  &> .current-menu-item.blu > a {
    color: $blue;
  }

  &> .verde > a:hover,
  &> .current-menu-item.verde > a {
    color: $green;
  }

  &> .arancione > a:hover,
  &> .current-menu-item.arancione > a {
    color: $orange;
  }

  .sub-menu {
    @include pad($h: 0);
    text-indent: 0;
    padding-top: spacing(2);
    height: 0;
    transition: all 0.5s;
    opacity: 0;
    overflow: hidden;

    li {
      text-align: left;
      @extend .h5_light;
      text-indent: 0;
      @include pad($v: 1);
      border-top: 1px solid $tortora;
      @include pad($h: 1);

      
      &:first-child {
        border-top: 1px solid $tortora;
      }
      &:last-child {
        // border: 0;
      }

      &> a {
        color: main-colors(header, body);
      }
    }
  }
}
