.top-area {
  background-color: main-colors(topbar, bg);

  * {
    color: main-colors(topbar, body);
  }

  p > a {
    color: main-colors(topbar, link)
  }
}

.top-area__widget-container {
  display: flex;
}
