.top-area {
  @include layout-overflow();
  @include layout-padding();
  @include pad($v: 0);
  background-color: main-colors(topbar, bg);


  @include breakpoint-max(xl) {

  }

  @include breakpoint-max(md) {

  }

  @include breakpoint-max(xs) {
    flex-direction: column;
  }

  &__inner {
    width: 100%;
    margin: 0 auto;
    // @include pad($h: 4);
    // flex-wrap: wrap;

    @include breakpoint-min(lg) {
      max-width: $website-width;
    }
  }

  * {
    color: lighten(main-colors(topbar, link), 10%);
  }

  p > a {
    color: lighten(main-colors(topbar, link), 10%);
  }

  .theme-icon {
    color: lighten(main-colors(topbar, link), 10%);
  }
}

.top-area__widget-container {
  display: flex;
  // @include flex-child($wd: 100);
  //
  // @include breakpoint-min(sm) {
  //   @include flex-child($wd: 50);
  // }
  // @include breakpoint-max(sm) {
  //   @include flex-child($wd: 100);
  // }

  &--left {
    justify-content: space-between;
    width: 100%;
    flex-basis: 100%;

    @include breakpoint-min(md) {
      justify-content: flex-start;
      width: auto;
      flex-basis: auto;
    }
  }

  &--right {
    display: none;

    @include breakpoint-min(md) {
      display: block;
    }
  }
}


/***
 * Widget
 */
.top-area__widget {


  &:nth-child(2) {
    padding: 0;
  }



  @include breakpoint-min(sm) {
    margin-right: spacing(5);

    &:last-child {
      margin-right: 0;
    }
  }
}

.top-area .button {
  @include button-color(main, filled);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  // display: block;

  @include breakpoint-max(xs) {
    margin-right: spacing(-6);
    margin-left: spacing(2);
    display: block;
  }
}

.top-area__widget-container--left {

}

.top-area .theme-icon::before {
  padding-right: spacing(2);
  font-size: 1em;
}

/***********************************************************
 * WPML
 *
 **/

 /**
  * DROPDOWN
  */
.wpml-ls-legacy-dropdown {
  background: transparent;
  border: 0;
  max-width: 150px;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;

  // Icon
  &::before {

  }

  a {
    background: transparent;
    border: 0;
    padding-top: 0;
    padding-bottom: spacing(0);

    &:hover {
      background: transparent;
      color: $white;
    }
  }

  .wpml-ls-sub-menu {
    padding: spacing(2);
    background: main-colors(header, bg);
    border: 0;

     a {
      padding: spacing(2);
    }
  }
}

.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a {
  background: transparent;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
  color: $white-90;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle {
  padding-left: spacing(4);
}

/***
 * LIST
 **/
.wpml-ls-legacy-list-horizontal {
  padding: 0;
  border: 0;


  li {

    a {
      padding: 0;
    }

    &:nth-child(odd) {
      padding-right: spacing(2);
      border-right: 1px solid;
    }
    &:nth-child(even) {
      padding-left: spacing(2);
    }
  }
}
