.top-area {
  @include layout-overflow();
  @include layout-padding();
  @include pad($v: 1);
  background-color: main-colors(topbar, bg);


  @include breakpoint-max(xl) {

  }

  @include breakpoint-max(md) {

  }

  @include breakpoint-max(xs) {
    flex-direction: column;
  }

  &__inner {
    width: 100%;
    margin: 0 auto;
    // @include pad($h: 4);

    @include breakpoint-min(lg) {
      max-width: $website-width;
    }
  }

  * {
    color: lighten(main-colors(topbar, link), 10%);
  }

  p > a {
    color: lighten(main-colors(topbar, link), 10%);
  }

  .theme-icon {
    color: lighten(main-colors(topbar, link), 10%);
  }
}

.top-area__widget-container {
  display: flex;
}


/***
 * Widget
 */
.top-area__widget {
  @include font(p);
  margin-right: spacing(5);

  &:last-child {
    margin-right: 0;

    @include breakpoint-max(sm) {
      margin-left: auto;
      margin-right: 0;
    }
  }


}

.top-area__widget-container--left {

}

.top-area .theme-icon::before {
  padding-right: spacing(2);
  font-size: 1em;
}

/*WPML*/
.wpml-ls-legacy-dropdown {
  background: transparent;
  border: 0;
  max-width: 150px;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;

  // Icon
  &::before {

  }

  a {
    background: transparent;
    border: 0;
    padding-top: 0;
    padding-bottom: spacing(0);

    &:hover {
      background: transparent;
      color: $white;
    }
  }

  .wpml-ls-sub-menu {
    padding: spacing(2);
    background: main-colors(header, bg);
    border: 0;

     a {
      padding: spacing(2);
    }
  }
}

.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a {
  background: transparent;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
  color: $white-90;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle {
  padding-left: spacing(4);
}
