/**
 *
 */

input,
textarea {
  @include input-text(p);
}

select {
  @include input-select(p);
  background: #fff;
}

.gform_wrapper {
  padding: spacing(3);
  background: $black-10;

  @include breakpoint-min(md) {
    padding: spacing(4);
  }
  @include breakpoint-min(lg) {
    padding: spacing(5);
  }
}

.gform_wrapper {
  background-color: rgba($black-05, 0.03);
  label {
    color: $black;
  }

  * {
    border-color: rgba($blue, 0.3);


    &:focus {
      border-color: rgba($blue, 0.3);
    }
  }
}

.gform_fields {
  @include flex-setup(-2);
}

.gfield {
  @include flex-child(2, $wd: 100);
  margin-bottom: spacing(3);
}

@include breakpoint-min(sm) {
  .gf_left_half,
  .gf_right_half {
    @include flex-child(2, $wd: 50);
  }
}

/**
 * Labels
 */
.gfield_label {
  @include label(h5);
}

.gfield_description {
  @include font(h5);
  font-style: italic;
}


/**
 * Complex Fields
 */
.field_sublabel_above > .gfield_label_before_complex {
 display: none;
}

.gf_name_has_2 {
  @include flex-setup(-2);
}

.name_first,
.name_last {
  @include flex-child(2, $wd: 50);

  label {
    @include label(h5);
    display: block;
  }
}


/**
 * Footer
 */
.gform_footer {
  width: 100%;
  text-align: right;
}

.gform_button {
  @extend %button;
  @include button(h4_upper, $pv: 1);
  margin-top: spacing(4);
  @include button-color(blue);
  max-width: 16rem;
  cursor: pointer;
}

.gform_ajax_spinner {
  max-width: 25px;
  width: 25px;
}


/**
 * Errors
 */
.validation_error {
  color: $red;
  padding: 0;
  margin-bottom: spacing(4);
}

.validation_message {
  color: $red;
  font-weight: bolder !important;
}

/**
 * Colors
 */
input,
textarea {
  border: 1px solid $black-10;

  &:focus {
    border-color: $black-30;
    outline: none;
  }
}

.color--dark {
  input,
  textarea {

  }
  .gform_button {
    @include button-color(dark, empty-w);
    cursor: pointer;
  }
}

/******************
 * Validation Field
 **/
.gform_validation_container {
  display: none;
}

/************************************************************
 * DATE PICKER
 *
 **/
.ginput_container_date {
  position: relative;
}

.ui-datepicker-trigger {
  position: absolute;
  max-width: 20px !important;
  right: 3%;
  top: 25%;
}

.ui-datepicker {
  width: auto;
  box-shadow: $card-shadow--2;
}

.ui-datepicker-header {
  padding: spacing(2);
  background: darken($white, 5%);
  overflow: hidden;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  @include font(h5);
  cursor: pointer;
}

.ui-datepicker-prev {
  padding-right: spacing(2);

  &::before {
    content: "\00AB";
    margin-right: spacing(1);
  }
}
.ui-datepicker-next {
  padding-left: spacing(1);

  &::after {
    content: "\00BB";
    margin-left: spacing(1);
  }
}

.ui-datepicker-title {
  margin-top: spacing(2);

  select {
    width: 48%;
  }

  .ui-datepicker-month {
    float: left;
  }
  .ui-datepicker-year {
    float: right;
  }
}

.ui-datepicker-calendar {
  width: 100%;
  background: $white;
  padding-top: spacing(2);

  td,
  th {
    text-align: center;
    @include font(h5);


    a {
      color: $black;
    }
  }

  td {
    padding: 0.15rem spacing(1);
    border-left: 1px solid $black-10;
    border-bottom: 1px solid $black-10;
    &:first-child {
      border-left: 0;
    }
  }
}
