.hero-title {
  @include layout-padding();
  @include layout-overflow();
  @include pad($v: 8);

  background-color: main-colors(hero, bg);
}

.hero-title__content {
  max-width: max-width($text-mw);
  margin-left: auto;
}

.hero-title__title {
  @include font(h1, $mb: 0);
  color: main-colors(hero, body);
  display: block;
}

.hero-title__subtitle {
  @include font(h4, $mt: 1, $mb: 5);
  color: main-colors(hero, body);
  display: block;
}

.hero-title__description {
  @include font(p);
  color: main-colors(hero, body);
  max-width: max-width($text-mw);
}

@include breakpoint-max(el) {
  .hero-title__text,
  .hero-title__description {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-title__ctas {
  margin-top: spacing(5);
}

.ctas__button {
  @include button(h4);
  @include button-color($type: empty-w);
}
