.pagination {

  &__inner {
    border-top: 1px solid $black-10;
  }

  &__element {
    @include pad($h: 2);
    @include pad($v: 2);
    @include font(p);
    border-top: spacing(1) solid transparent;
    display: inline-block;
    
    &:hover {
      font-weight: bold;
    }
    &--current {
      border-top-color: $orange;
      font-weight: bold;
    }
  }
}

.product-grid__pagination {
  margin-top: spacing(8);
}