.card-loop {
  @include flex-setup(3);
}

.card--2-col {
  @include flex-child($wd: 100);
  @include flex-setup(0, $fd: column);
  @include max-width(sm);
  position: relative;
}

.card__title {
  @include font(h4);
  margin-bottom: spacing(2);
}

.card__image {
  order: -1;
  display: block;

  img {
    display: block;
  }
}


.card__meta {
  @include pad($h: 2);
  overflow: hidden;
  order: -1;
  z-index: 99;
  background: rgba($black, 0.35);
  margin-bottom: spacing(4);
  margin-top: spacing(-6);
  @include font(h5, $pt: 2, $pb: 2);

  * {
    color: $white;
  }
}

.card__excerpt {
  @include font(p);
}
.card__excerpt-link {
  @include link();
  // margin-top: spacing(2);
}
