@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
// @keyframes AnimationName {
//   0%{background-position:0% 100%}
//   50%{background-position:200% 100%}
//   100%{background-position:0% 100%}
// }

.hero-title {
  @include layout-padding();
  @include layout-overflow();
  // @include pad($v: 7);
  background: main-colors(hero, bg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: spacing(28);
  padding-bottom: spacing(8);
  animation: AnimationName 15s ease infinite;
  background-size: 300% 300%;

  &--has-image {
    @include color-overlay(hero, 0.3);
  }

  @include breakpoint-min(lg) {

  }

  @include breakpoint-min(md) {

  }
}

.hero-title__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @include max-width($text-mw);

  @include breakpoint-min($col_bp) {
    max-width: $website-width;
  }
}

.hero-title__content {
  max-width: max-width($text-mw);
  position: relative;
  width: 100%;
}

.hero-title__title {
  @include font(h1_black);
  color: main-colors(hero, body);
  display: block;
}

.hero-title__subtitle {
  @include font(h3, $mt: 3);
  color: main-colors(hero, body);
  display: block;
}

.hero-title__description * {
  @include font(p, $mt: 4);

  color: main-colors(hero, body);
  max-width: max-width($text-mw);



  strong {
    color: main-colors(hero, body);
  }
}

@include breakpoint-max(lg) {
  .hero-title__text,
  .hero-title__description,
  .hero-title__content {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-title__ctas {
  margin-top: spacing(5);
}

.ctas__button {
  @include button(p, $pv: 1);
  @include button-color($type: empty-w);
}
