.hero-title {
  @include layout-padding();
  @include layout-overflow();
  @include pad($v: 7);
  background-color: main-colors(hero, bg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include color-overlay(hero, 0.3);


  @include breakpoint-min(lg) {

  }

  @include breakpoint-min(md) {

  }
}

.hero-title__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.hero-title__content {
  max-width: max-width($text-mw);
  position: relative;
  width: 100%;
}

.hero-title__title {
  @include font(h1);
  color: main-colors(hero, body);
  display: block;
}

.hero-title__subtitle {
  @include font(h3, $mt: 3);
  color: main-colors(hero, body);
  display: block;
}

.hero-title__description * {
  @include font(p, $mt: 4);

  color: main-colors(hero, body);
  max-width: max-width($text-mw);



  strong {
    color: main-colors(hero, body);
  }
}

@include breakpoint-max(lg) {
  .hero-title__text,
  .hero-title__description,
  .hero-title__content {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-title__ctas {
  margin-top: spacing(5);
}

.ctas__button {
  @include button(p, $pv: 1);
  @include button-color($type: empty-w);
}
