.standard-title {
  @include flex-child(3, $wd: 100);
  text-align: center;
}

.standard-title__inner {
  @include flex-setup(0, $fd: column);


  &> * {
    flex-basis: 100%;
    width: 100%
  }
}

.standard-title__text {
  @include font(h1, $mt: 2, $mb: 4 )
}



.standard-title__subtitle {
  @include font(h4, $mt: 2, $mb: 6);
}

.standard-title__description  {
  max-width: max-width($text-mw);
  margin: 0 auto;
}

.standard-title__image {
  @include aspect-ratio(8 , 5);
  height: auto;
  height: 100%;
  margin-top: spacing(4);
  margin-bottom: spacing(6);
}
